.bd{
    background-color: rgb(54, 77, 121);
}
.heading{
    color-scheme: purple;
}
.btn{
    color: azure;
    background-color: purple;
}
.btn:hover{
color: purple;
background-color: azure;
}